---
# tasks file for cassandra_repository
- name: Ensure Cassandra yum repository exists (RedHat)
  yum_repository:
      name: "cassandra-{{ cassandra_version }}"
      description: "Official Cassandra {{ cassandra_version }} yum repo"
      baseurl: "https://redhat.cassandra.apache.org/{{ cassandra_version }}/"
      gpgcheck: 1
      gpgkey: "https://downloads.apache.org/cassandra/KEYS"
  retries: 3
  when: ansible_os_family == "RedHat"


- name: Install debian packages (Debian & Ubuntu)
  apt:
    name: "{{ debian_packages }}"
    state: present
  retries: 3
  when: ansible_os_family == "Debian"

- set_fact:
    validate_certs: true
  when:
    - "ansible_distribution == 'Ubuntu'"
    - "ansible_distribution_version == '16.04'"


- name: Add apt key for Cassandra repository (Debian & Ubuntu)
  ansible.builtin.shell: curl -o /etc/apt/keyrings/apache-cassandra.asc https://downloads.apache.org/cassandra/KEYS
  args:
    creates: /etc/apt/keyrings/apache-cassandra.asc
  retries: 3
  when: ansible_os_family == "Debian"

- name: Ensure Cassandra apt repository exists (Debian & Ubuntu)
  apt_repository:
    repo: "deb https://debian.cassandra.apache.org {{ cassandra_version }} main"
    state: present
    filename: "cassandra-{{ cassandra_version }}"
  retries: 3
  when: ansible_os_family == "Debian"
