---
- name: Prepare
  hosts: all

  tasks:

  - name: Are we in docker?
    ansible.builtin.shell: "grep :/docker /proc/self/cgroup | wc -l"

  - name: Create is_docker.txt file
    ansible.builtin.file:
      path: is_docker.txt
      state: touch
