# Key from https://adoptopenjdk.jfrog.io/adoptopenjdk/api/gpg/key/public
- name: Add repository key for OpenJDK 1.8 when needed (Debian & Ubuntu)
  ansible.builtin.apt_key:
    data: "{{ lookup('ansible.builtin.file', 'artifactory.asc') }}"
    state: present

- name: Add repo for OpenJDK (Debian & Ubuntu)
  apt_repository:
    repo: "deb https://packages.adoptium.net/artifactory/deb {{ ansible_distribution_release }} main"
    state: present
    filename: "openjdk-1.8"
  retries: 3

- name: Install OpenJDK (Debian & Ubuntu)
  apt:
    name: adoptopenjdk-8-hotspot
    state: present
  retries: 3
