---
- name: Prepare
  hosts: all

  tasks:

    - name: Run fix firewalld script on RedHat based systems
      ansible.builtin.script: ../files/firewalld_fix.sh
      when: ansible_os_family == "RedHat"
