---
# tasks file for cassandra_firewall
- name: Include vars for os family
  ansible.builtin.include_vars:
    file: "{{ ansible_os_family }}.yml"

- name: Ensure firewall package is installed
  ansible.builtin.package:
    name: "{{ firewall_packages }}"
    state: present
  retries: 3

- name: Ensure firewall service is started
  ansible.builtin.service:
    name: "{{ (ansible_facts['os_family'] == 'RedHat') | ternary('firewalld', 'ufw') }}"
    state: started
    enabled: yes

- name: Ensure ports for cassandra open (RedHat)
  ansible.builtin.firewalld:
    port: "{{ item }}"
    permanent: yes
    immediate: yes
    state: enabled
  with_items:
    - "{{ open_ports }}"
  when: ansible_facts['os_family'] == "RedHat"

- name: Ensure ports for cassandra open (Debian)
  ansible.builtin.ufw:
    port: "{{ item }}"
    rule: "allow"
  with_items:
    - "{{ open_ports }}"
  when: ansible_facts['os_family'] == "Debian"
